{
  "root": true,
  "env": {
    "es2021": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaVersion": "latest",
  },
  "extends": ["plugin:vue/vue3-essential", "eslint:recommended", "@vue/eslint-config-typescript", "@vue/eslint-config-prettier"],
}
